.banner_info{
    position: flex;
    align-items: start;
    justify-content: start;
    top: 37%;
    left: 60%;
    width: 200px;
}
.banner{
    height: 30vh;
}

.gallery-top-container{
    align-items: center;
    background-color: rgb(153, 224, 248);
    justify-content: flex-start;
    padding-left: 20%;
    
}

.gallery-city-container{
    height: 500px;
    margin-top: 100px;
    width: 675px !important;
    /* background-color: rgb(226 244 237 / 67%); */
    background-color: rgb(255, 255, 255);
    padding: 40px 60px 50px 50px;
    border-color: #D0E7E0;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    text-align: left;
}

.gallery-city-container h2 {
    font-size: 20px;
}

.gallery-city-container h1 {
    font-size:20px; font-weight:800; text-transform:uppercase;
  }
  .gallery-city-container h1:before {
      background-color: #c50000;
      border-radius: 0.25rem;
      content: '';
      display: block;
      height: 0.25rem;
      width: 42px;
      margin-bottom: 5px;
  }