.banner_info{
    position: flex;
    align-items: start;
    justify-content: start;
    top: 37%;
    left: 60%;
    width: 200px;
}
.banner{
    height: 30vh;
}
.galleryMap{
    width: auto;
    height: 700px;
    margin-top: 8%;
}
.glist{
    background-color: aliceblue;
}
