           
.accordion {
    max-width: 700px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color : rgb(225, 228, 232);
    border-radius: 10px;
}

.text{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden-box a {
    text-decoration: none;
    transition: 0.3s;
    color: #4db2b3;
}
.hidden-box a:hover {
    text-decoration: underline;
}
.accordion .item {
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
    padding: 10px;
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 24px;
    row-gap: 32px;
    border-top: 4px solid transparent;
    align-items: center;
    transition: border-top 0.3s;
    border-radius: 10px;
}
.accordion .item.open {
    border-top: 4px solid #4db2b3;
    border-radius: 10px;
}
.accordion .item.open .hidden-box {
    display: block;
}
.accordion .item.open .text {
    color: #4db2b3;
}
.accordion .number {
    color: whitesmoke;
}
.accordion .number,
.accordion .text {
    font-size: 24px;
    font-weight: 500;
}

.accordion .item.open .text {
    transition: color 0.3s;
}
.accordion .icon {
    width: 24px;
    height: 24px;
    transition: transform 0.5s ease-in;
}
.accordion .item.open .icon {
    transform: rotate(180deg);
}
.accordion .hidden-box {
    grid-column: 2;
    display: none;
    transition: display 0.5 ease-in;
}
.accordion .hidden-box p {
    line-height: 1.6;
    margin-bottom: 24px;
}
.accordion .hidden-box ul {
    color: black;
    margin-left: 18px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}
