.loginInput_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
}

.loginInput_container h2{
    margin-bottom: 60px;
}
.joinInput, .passInput, .loginInputId{
    font-size: 14px;
    width: 64%;
    height: 40px;
    padding: 5px;
    border: none;
    border-radius: 8px;
}
.email{
    display: flex;
    margin-left: 75px;
    
}
.loginNameNick{
    display: flex;
    margin-left: 75px;
}
.emailInput{
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
    width: 33.9%;
    height: 40px;
    padding: 5px;
    border: none;
    border-radius: 8px;
}
.nameNickInput{
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
    width: 35.3%;
    height: 40px;
    padding: 12px;
    border: none;
    border-radius: 8px;
}
.emailInput span,
.nameNickInput span{
    text-align: center;
}

.joinInput_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.joinInput_container h2{
    margin-bottom: 30px;
    font-family: 'GangwonEduSaeeum_OTFMediumA';
    font-size: 42px;
    font-weight: 600;
}


.joinInput, .passInput, .emailInput, .loginInputId, .nameNickInput:focus {
    outline: none;
    padding: 12px;
  }
.email_txt,
.password_txt,
.name_nick_txt{
    display: flex;
    font-size: 20px;
    font-family: 'GangwonEduSaeeum_OTFMediumA';
    width: 75%;
    padding: 5px 0px 0px 23px;
    margin: 2px;
   
}
.joginBtn{
    font-size: 26px;
    font-weight: 400 !important;
    font-family: 'GangwonEduSaeeum_OTFMediumA';
}
.passwordCheck_txt{
    display: flex;
    font-size: 12px;
    margin: 8px;
    width: 63%;
   color: rgb(255, 33, 33);
}
.idFindBtn,
.pwFindBtn{
    background: none;
    border: none;
    color: rgb(0, 30, 197);
}
.idFindBtn:hover,
.pwFindBtn:hover{
    color: rgb(96, 120, 255);
}
.name_nick_txt span{
    margin-right: 145px;
}

.login_jointxt{
    font-size: 14px;
}
.join_txt{
    display: flex;
    margin-right: 100px;
    font-size: 12px;
    margin: 8px;
    width: 60%;
}

.password_txt span{
    margin-right: 82px;
}
.login_password_txt{
    display: flex;
    width: 340px;
    justify-content: space-between;
    font-family: 'GangwonEduSaeeum_OTFMediumA';
    font-size: 22.5px;
}
.loginBtn{
    font-family: 'GangwonEduSaeeum_OTFMediumA';
    font-size: 25px;
    padding-top: 3px;
}
.login_password_txt a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
}
.loginBtn{
    margin-top: 10px;
    margin-bottom: 16px;
    width: 60%;
    height: 40px;
    border: none;
    background-color: rgb(37, 131, 255);
    border-radius: 8px;
    color: rgb(243, 243, 243);
    font-weight: 900;
}
.findResult{
    margin-bottom: 47.7px;
}
.loginFindBtn{
    margin-top: 10px;
    margin-bottom: 47.7px;
    width: 60%;
    height: 40px;
    border: none;
    background-color: rgb(37, 131, 255);
    border-radius: 8px;
    color: rgb(243, 243, 243);
    font-weight: 900;
}
.joginBtn{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 61%;
    height: 40px;
    border: none;
    background-color: rgb(37, 131, 255);
    border-radius: 8px;
    color: rgb(243, 243, 243);
    font-weight: 900;
}
.loginInputId,
.passInput{
    width: 60%;
    margin-bottom: 19px;
    font-size: 20px;
    padding-top: 17px;
    
}
.passInput{
    font-family: 'omyu_pretty';
}
.loginInputId{
    font-family: 'omyu_pretty';
}
.idInput,
.pwInput{
    width: 100%;
    display: flex;
    justify-content: center;
}
.kakaoBtn,
.googleBtn{
    width: 80px;
    height: 40px;
    border: none;
    background-color: rgb(255, 242, 55);
    border-radius: 8px;
    margin: 10px 35px 15px 0px;
}
.login_googleBtn{
    border: none;
    background-color: rgb(255, 242, 55);
    border-radius: 8px;
    width: 100%;
    height: 40px;
}
.loginfrom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loginfrom h2{
    margin-bottom: 24px;
    font-family: 'GangwonEduSaeeum_OTFMediumA';
    font-size: 45px;
    font-weight: 600;
}
.socialBtns{
    width: 60%;
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-bottom: 10px;
}
.login_socialBtns{
    width: 60%;
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 26px;
    padding-top: 2px;
    font-family: 'GangwonEduSaeeum_OTFMediumA';
}
.loginFindBtn{
    font-family: 'GangwonEduSaeeum_OTFMediumA';
    padding-top: 5px;
    font-size: 25px;
}
.img_container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 650px;
}

.joinfrom{
    width: 80%;
}
.loginForm_container{
    box-shadow: 2px 2px 2px 2px rgb(193, 193, 193);
    border-radius: 10px;
    width: 50%;
    height: 650px;
    margin-top: 100px;
    margin-left: 10px;
    display: flex;
    background-color: rgb(254, 255, 176);
    justify-content: center;
    align-items: center;
}
.joginForm_container{
    box-shadow: 2px 2px 2px 2px rgb(193, 193, 193);
    border-radius: 10px;
    width: 50%;
    height: 650px;
    margin-top: 100px;
    display: flex;
    background-color: rgb(254, 255, 176);
    justify-content: start;
    align-items: center;
}
.login_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.join_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.joinForm_container{
    box-shadow: 2px 2px 2px 2px rgb(193, 193, 193);
    border-radius: 10px;
    width: 55%;
    height: 720px;
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    background-color: rgb(254, 255, 176);
    justify-content: center;
    align-items: center;
}
.join_img_container{
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 720px;
    
}



