.create-diary-container {
    max-width: 400px;
  }
  
  .create-diary-container h2 {
    margin-bottom: 1rem;
  }
  
  .form-group {
    margin-bottom: .75rem;
  }
  
  .form-group label {
     display: block;
     margin-bottom: .25rem;
  }
  
  .form-group input[type='text'],
  .form-group textarea {
     width:95%;
     font-family: 'insungitCutelivelyjisu';
     margin-left: 10px;
     font-size: 16px;
     padding: .5rem;
     border-radius: .25rem;
     border:1px solid #ccc;
  }
  .form-group textarea {
     
    font-family: 'Minhye' !important;
     
  }
  
  .img-upload-container{
    height: 200px;
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0 5px 20px rgba(194, 194, 194, 0.7);
  }

  .img-upload-container:hover{

    .img-upload-icon{
      opacity: 1;
    }
  }

  .img-upload-box{
   height: 150px;
   width: 370px;
   border : 3px dotted;
   display:flex;
   align-items: center;
   justify-content: center;
   flex-direction : column;
  }

  .img-upload-icon{
      width: 20%;
      opacity: 0.4;
  }

  .img-pre-view{

    height: inherit;
    width: auto;
  }
  .createBtns{
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }