/* 연도 */
.noteList-container {
    margin-top: 130px;
    height: auto;
}

.noteList-year {
    /* width: 182px; */
    height: 79px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    /* font-feature-settings: 'clig' off, 'liga' off;
    font-family: Playfair Display; */
    font-size: 42px;
    font-style: normal;
    font-weight: 600;

    line-height: 44px;
    line-height: 1.5em;
    letter-spacing: -0.64px;

    margin-top: 950px;
    margin-left: 240px;
    margin-right: 800px;
    align-items: center;
    font-family: 'insungitCutelivelyjisu';

}



/*태그 결과 텍스트로 */

.tag-text{
    background-color: #ffcccc;
    color: #ff6666;
    font-size: 24px; 
    padding: 5px 10px; 
    border-radius: 10px; 
    display: inline-block; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    margin-top: 100px;
    margin-left: 150px;
    font-family: 'insungitCutelivelyjisu';
    align-items: center
    
}


.tagResultText{
    display: flex;
    align-items: center; 
  }

  .tagClose {
    background-color: #ff6666;
    width: 60px;
    font-size: 20px;
    line-height: 32px;
    padding: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    height: auto;
    margin-top: 100px;
    margin-left: 30px;
    font-family: 'insungitCutelivelyjisu';
  }


/* 수첩 영역 */
.notes-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 420px;
    font-family: 'insungitCutelivelyjisu';
    
}

.note-item-container {
    position: relative;
    align-items: center;
    cursor: pointer;
    margin-right: 55px;
    margin-top: 100px;
    display: flex;

    flex-direction: row;

    align-items: center;
    
    z-index: 2;

}

.note-item-span {
    position: absolute;

    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    /* font-family: Akshar; */
    font-size: 20px;
    font-style: normal;
    font-weight: 400px;
    width: 90%;

}

/**노트 테이블*/
.noteTable-container{
    position: absolute;
    margin-top: 205px;
    left: 200px;
    
    
}
.noteTable{
   height: 60px;
   width: 1500px;
}

/*수첩 밑 연령 표시 **/

.noteAge-container {
    width: 336.069px;
    height: 69px;
    flex-shrink: 0;
    margin-top: 350px;
    margin-left: 35px;
}

.noteList-age {

    color: #000;
    text-align: center;
    /* font-feature-settings: 'clig' off, 'liga' off;
    font-family: Playfair Display; */
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    margin-left: 16px;
    /* 62.857% */
    letter-spacing: -0.64px;
}
.noteKid-image{
    width: 55px;
}
.noteKid-container {
    width: 80px;
    height: 154px;
    flex-shrink: 0;
    z-index: 2;
    position: absolute;
    margin-top: 115px;
    animation: sparkle 1.5s infinite alternate;
}

.tagResultItem {
    position: absolute;
    /* top: -10px; */
    right: -40px;
    /* background-color: #FF5733;
        color: white; */
    /* font-family: 'Akshar', sans-serif;  */
    font-size: 20px;
    border-radius: 10%;
    width: 125px;
    height: 40px;

    margin-top: 200px;
    margin-right: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ffcccc;
    color: #ff6666;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-family: 'insungitCutelivelyjisu';
}


.noteTagAndKid-container{
    height: 120px !important;
}
/*수첩 클릭 시 연령 색 변경*/
.selected-note-text {
    color: #eba852; 
    animation: twinkling 2s infinite;
  }
  @keyframes twinkling {
    0% {
      color: #eba852;
    }
    50% {
      color: #ffb007; /* 다른 색상으로 변경할 중간 지점 */
    }
    100% {
      color: #f8930f;
    }
  }
  

@keyframes sparkle {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

/**노트 자물쇠*/
.noteLock-container {
    position: absolute;
    margin-top: 130px;
    width: 100%;
    height: 100%;
    z-index: 1; 
}
.noteLock-image{
    width: 50px;
    position: relative;
    bottom: 22px;
}

.allNoteList-container{
    height: fit-content;
    margin-bottom: 300px;
    position: relative;
    bottom: 100px;
    
}