/* 연도 */
.noteList-container {
    margin-top: 100px;
}

.noteList-year {
    width: 182px;
    height: 79px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    /* font-feature-settings: 'clig' off, 'liga' off;
    font-family: Playfair Display; */
    font-size: 50px;
    font-style: normal;
    font-weight: 600;

    line-height: 44px;
    line-height: 1.5em;
    letter-spacing: -0.64px;

    margin-top: 945px;
    margin-left: 150px;
    margin-right: 800px;
    align-items: center;

}


/* 수첩 영역 */
.notes-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 120px;
    margin-top: 50px;
}

.note-item-container {
    position: relative;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 70px;
    margin-top: 100px;
    display: flex;

    flex-direction: row;

    align-items: center;

}

.note-item-span {
    position: absolute;

    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    /* font-family: Akshar; */
    font-size: 20px;
    font-style: normal;
    font-weight: 400px;
    width: 90%;

}


/*수첩 밑 연령 표시 **/

.noteAge-container {
    width: 336.069px;
    height: 69px;
    flex-shrink: 0;
    margin-top: 500px;
    padding-left: 50px;
}

.noteList-age {

    color: #000;
    text-align: center;
    /* font-feature-settings: 'clig' off, 'liga' off;
    font-family: Playfair Display; */
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    margin-left: 16px;
    /* 62.857% */
    letter-spacing: -0.64px;
}

.noteKid-container {
    width: 91px;
    height: 154px;
    flex-shrink: 0;
    z-index: 2;
    position: absolute;
    margin-top: 130px;
    animation: sparkle 1.5s infinite alternate;
}

.tagResultItem {
    position: absolute;
    /* top: -10px; */
    right: -10px;
    /*background-color: #FF5733;
        color: white;
    */
    /* font-family: 'Akshar', sans-serif;  */
    font-size: 20px;
    border-radius: 10%;
    width: 125px;
    height: 40px;

    margin-top: 300px;
    margin-right: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ffcccc;
    color: #ff6666;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

}

@keyframes sparkle {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}