.tag-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50px;
  margin-bottom: 40px;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.tag-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
  background-color: tomato;
  border-radius: 5px;
  color: white;
  font-size: 13px;
}

.cancel-tag-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-left: 5px;
  background-color: white;
  border-radius: 50%;
  color: tomato;
}


.view-box {
  height: fit-content;
  /* background-image: repeating-linear-gradient(white 1px, white 23px, rgb(162, 215, 165) 25px) */
}


.add-tag-item {
  display: inline-flex;
  min-width: 150px;
  background: transparent;
  border: none;
  outline: none;
  cursor: text;
}

/* -------------------다이어리 내부 요소 정리----------------------- */

.view-top-container {
  position: relative;
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  z-index: 6;
  overflow-y: auto ;
}

.view-container {
  content: '';
  width: 350px;
  height: fit-content;
  /* border: 1px solid #B8B8B8; */
  overflow-y: auto;
}

.view-diary-title {
  border-bottom: 5px double black;
  font-family: 'insungitCutelivelyjisu';
  font-size: large;
  height: fit-content;
  min-height: 50px;
  padding-top: 10px;
  padding-left: 5px;
}

.view-diary-img-box {
  position: relative;
  width: inherit;
  height: 250px;
  /* background: #fff; */
  margin: 0 auto;
  flex-shrink: 0;
  border-bottom: 5px double black;
  /* background: rgb(246, 248, 243); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-diary-img {
  width: inherit;
  height: 230px;
  object-fit: scale;
}


.view-diary-content {
  border-bottom: 5px double black;
  height: fit-content;
  min-height: 230px;
  font-size: 25px;
  background-image: repeating-linear-gradient(white 0px, white 25px, #B8B8B8 26px);
  font-family: 'Minhye';
  line-height: 107.5%;
  padding-left: 7px;
}

.view-pre-btn{
  height: 100px;
  border-width: 0px !important;
  align-self: center;
}

.view-next-btn{
  height: 80px;
  border-width: 0px !important;
  align-self: center;
}

.view-edit-btn{
  z-index: 2;
  border: 0;
  width: 60px;
  height: 60px;
  font-size: 20px;
  border-radius: 50%;
  position: fixed;
  right: 350px;
  bottom: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFF;
  background: linear-gradient(to right, #4EABFF, #0F8DFF);
  opacity: 1;
}

.view-delete-btn{
  z-index: 2;
  border: 0;
  width: 60px;
  height: 60px;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFF;
  background: linear-gradient(to right, #4EABFF, #0F8DFF);
  opacity: 1;
  position: fixed;
  right: 350px;
  bottom: 240px;
}
.view-Editedtop-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.viewEditedTitle{
margin-top: 40px;
  height: 40px;
  border: none;
  border-bottom: 5px double black;
  width: 100%;
}
.viewEditedContent{
  width: 100%;
  background-image: repeating-linear-gradient(white 0px, white 25px, #B8B8B8 26px);
  margin-bottom: 20px;
  height: 250px;
  border: none;
  line-height: 107.5%;
}
.viewForm{
  width: 70%;
}
.laqiuS {
  padding: 10px;
  height: 550px;
  overflow: scroll !important;
}
.dYuXOM {
  height: 500px !important;
}