
.tag-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50px;
  margin: 10px;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.tag-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
  background-color: tomato;
  border-radius: 5px;
  color: white;
  font-size: 13px;
}

.cancel-tag-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    background-color: white;
    border-radius: 50%;
    color: tomato;
}

.view-top-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    z-index:6
}



.view-container{
  content: '';
  width: 95%;
  height: auto;
  border: 5px solid #B8B8B8;
}

.view-box{
  height: fit-content;
  /* background-image: repeating-linear-gradient(white 1px, white 23px, rgb(162, 215, 165) 25px) */

}


.add-tag-item{
  display: inline-flex;
  min-width: 150px;
  background: transparent;
  border: none;
  outline: none;
  cursor: text;
}


/* -------------------다이어리 내부 요소 정리----------------------- */

.view-diary-title{
    padding-left: 15px;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    border: 2px solid #B8B8B8;
    background: #EFEFEF;
    width: inherit;
}

.view-diary-img-box{
    position: relative;
    width: inherit;
    height: 250px;
    background: #fff;
    margin: 0 auto;
    flex-shrink: 0;
    border: 2px solid #B8B8B8;
    background: #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-diary-img{
    width: inherit;
    height: 230px;
    object-fit: scale;
}


.view-diary-content{
  border: 2px solid #B8B8B8;
  background: #EFEFEF;
    height: fit-content;
    background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}
