/* .city-img-box{
    width: 24rem;
    height: 240px;
}

.city-img-box{
    width: 220px !important;
    margin-right: 10px;
}

.slider-container{
    display: flex;
    flex-direction: column-reverse;
    height: 400px;
}

.slider-item{
    height: 400px;
    justify-content: center;
    margin-left: 7%;
    display: flex;
    border-radius: 20px;
    align-items: left !important;
}

.slider-item.card{
    width: 200px !important;
    padding: 8px;
}

.slider-item-title{
    font-size: 24px !important;
}

.slick-list{
    height: 430px;
} */

  .city-toggle-container{
    background-image: image-set();
    width: 100%;
    height: 70px;
    background-color: black;
    overflow: hidden;
    display: flex;
    margin-bottom: 25px;
    border-radius: 5px;
  }

  .toggle-header-image{
    width: 100%;
    height: max-content;
    opacity: 0.5;
  }

  .header-city-name{
    margin : 15px 20px 30px 240px;
    position: absolute;
    background-color: rgba(5, 5, 5, 0.178);
    color: azure;
    opacity: 1;
    font-weight: bold;
    padding: 10px;
  }

  .header-gallery-button{
    position: absolute;
    margin-left: 470px;
    margin-top: 12px;
  }

  .toggle-list-item{
    overflow-y: scroll;
  }

  
  .toggle-list-item::-webkit-scrollbar {
    width: 11px; /* 수직 스크롤바의 너비 */
    padding: 30px;
}
  
.toggle-list-item::-webkit-scrollbar-track {
    background-color: none; /* 트랙 배경색 */
}
  
.toggle-list-item::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: cadetblue; /* 쓰기 막대 배경색 */
}
