.map-location{
    z-index: 1;
    font-family: "Nanum Pen Script, cursive"; 
    font-size: 16px;
}

.map-location:hover{
    z-index: 55;
    >.location{
        fill: #107759;
        stroke : #D0E7E0;
        height: 100px;
        width: 100px;
        stroke-width: 0.7px;
        z-index: 5;
    }
}

.gallerymap-total-container{
    border : 3px solid cadetblue;
    border-radius: 13px;
    background-color: rgb(165, 247, 250);
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    
}


.map-location-clicked{
    z-index: 55;
    >.location{
        fill: #107759;
        stroke : #D0E7E0;
        height: 100px;
        width: 100px;
        stroke-width: 0.7px;
        z-index: 5;
    }
}

.map-location1{
    z-index: 3;
    font-family: "Nanum Pen Script" cursive; 
    font-size: 16px;
}

.map-location1:hover{
    z-index: 55;
    >.location{
        fill: #107759;
        stroke : #D0E7E0;
        height: 100px;
        width: 100px;
        stroke-width: 0.7px;
        z-index: 5;
    }
}

.gallery-marker{
    width:40px; height:40px;
}

.gallery-marker:hover{
    animation-name: spinner;
    animation-duration: 3s;
}

@keyframes spinner {
    from{
      width: 40px;
      height: 40px;
      transform: rotateY( 10deg )
    }
    to{
      width: 40px;
      height: 40px;
      transform: rotateY( 360deg )
    }
}