.map-location{
    z-index: 1;
    font-family: "Nanum Pen Script, cursive"; 
    font-size: 16px;
}

.map-location:hover{
    z-index: 55;
    >.location{
        fill: #107759;
        stroke : #D0E7E0;
        height: 100px;
        width: 100px;
        stroke-width: 0.7px;
        z-index: 5;
    }
}

.map-location-clicked{
    z-index: 55;
    >.location{
        fill: #107759;
        stroke : #D0E7E0;
        height: 100px;
        width: 100px;
        stroke-width: 0.7px;
        z-index: 5;
    }
}


.map-location1{
    z-index: 3;
    font-family: "Nanum Pen Script" cursive; 
    font-size: 16px;
}

.map-location1:hover{
    z-index: 55;
    >.location{
        fill: #107759;
        stroke : #D0E7E0;
        height: 100px;
        width: 100px;
        stroke-width: 0.7px;
        z-index: 5;
    }
}
