/* modal창 외부화면 */
.Modal {
  font-family: 'GangwonEduSaeeum_OTFMediumA';
  font-size: 24px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 294.2vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
}

/* modal창 */
.modalBody {
  position: fixed;
  top: 50px;
  width: 700px;
  height: auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  z-index: 1000;
}

#modalCloseBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: transparent;
  font-size: 20px;
}

#modalCloseBtn:hover {
  cursor: pointer;
}

.survey {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
}

.survey-top-container {
  display: flex;
  border-radius: 8px 8px  0px 0px;
  justify-content: center;
  padding-bottom: 25px;
  padding-top: 5px;
  background-color: #4590FF;
}

.survey-title{
  font-family: 'insungitCutelivelyjisu';
  font-size: 26px;
  padding-top: 5px;
  margin-bottom: 10px;
}
.survey-title-container {
  background-color: #4590FF;
  width: 100%;
  height: 50px;
  padding-top: 18px;
  text-align: center;
  border-radius: 8px;
  color: aliceblue;
}

.survey-middle-container {
  height: 800px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px 0 30px 0;
}

.surBox-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.survey-bottom-container {
  display: flex;
  justify-content: center;
  height: 80px;
  margin-top: 60px;
}

.surBox1-container {
  width: 100%;
  margin-right: 20px;
}
.disEnough_icon{
  padding-bottom: 10px;
}

.disEnough-container{
  margin-bottom: 20px;
}
.disEnough-container h3{
  font-family: 'GangwonEduSaeeum_OTFMediumA';
  font-size: 38px;
}


.surBox1 {
  width: 80%;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgb(189, 189, 189);
  margin-top: 5px;
}

.sur_category {
  padding-top: 15px;
  width: 100%;
  font-family: 'GangwonEduSaeeum_OTFMediumA';
  height: auto;
  background-color: #1ab0ca;
  color: rgb(255, 255, 255);
  font-weight: 100;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.sur_category h5,
.sur_category2 h5,
.sur_category3 h5,
.sur_category4 h5{
  font-size: 34px;
  padding-bottom: 0 !important;
}

.sur_category2 {
  font-family: 'GangwonEduSaeeum_OTFMediumA';
  padding-top: 15px;
  width: 100%;
  height: auto;
  background-color: #fc9d21;
  color: rgb(255, 255, 255);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.sur_category3 {
  font-family: 'GangwonEduSaeeum_OTFMediumA';
  padding-top: 15px;
  width: 100%;
  height: auto;
  background-color: #f34444;
  color: rgb(255, 255, 255);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.sur_category4 {
  font-family: 'GangwonEduSaeeum_OTFMediumA';
  padding-top: 15px;
  width: 100%;
  height: auto;
  background-color: #a373fc;
  color: rgb(255, 255, 255);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.sur_content {
  font-family: 'GangwonEduSaeeum_OTFMediumA';
  display: flex;
  justify-content: space-around;
}

.sur_content_detail li {
  display: flex;
  font-family: 'GangwonEduSaeeum_OTFMediumA';
  justify-content: left;
  font-size: 20px;
  width: 70%;
  text-align: start;
  margin-right: 20px;
  margin-bottom: 10px;
}



.sur_content_detail {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  width: 100%;
  padding: 10px;
}


.survey_btncheck {
  display: flex;
  justify-content: center;
  width: 100%;
}

.surBox1 {
  width: "80%";
  height: auto;
  margin-bottom: "15";
  display: flex;
  justify-content: center;
  flex-direction: "column";
  align-items: "center";
  border: "2";
  solid: black;
}

.survey-all{
  height: 800px;
  overflow-y: scroll;
}

.survey_btnPreResult {
  margin-right: 60px;
}

.survey-result-Table-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 40px;
}

.survey-result-Table {
  border-collapse: collapse;
  /* 테이블 셀 경계를 병합 */
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: 72px;
  
}

.survey-result-Table tr,
.survey-result-Table td {
  
  /* 각 셀에 경계선 스타일 적용 */
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 20px;
  
}


.survey-oBtn{
  
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-top: 3px;
}

.survey-xBtn{
  
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-top: 3px;
}

.table-social-category{
  background-color: #3ACBA5;
  color: #FBFBFB;
}

.table-language-category{
  background-color: #C6F2B2;
  color:#2FB894;
}

.table-brain-category{
  background-color: #70E7C9;
  color: #FBFBFB;
}

.table-physical-category{
  background-color: #70D2E7;
  color: #FBFBFB;
}

.table-result{
  background-color: #F4F4F4E8;
  border-bottom: #0074516B solid 2px;
  padding-left: 50%;

}

.we-kid{
  margin-top: 15px;
  margin-bottom: 20px;
}
.we-kid h4{
  font-size: 38px;
  color: #424242;
  font-weight: 600;
}

.Survey-tip{
  display: flex;
  justify-content: center;
}

.surveyTip-container{
  
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.surveyTip-img{
  margin-bottom: -115px;
  position : relative;
}

.surveyTip-content{
  border: 3px solid;
  border-radius: 20px;
  border-color: rgb(215, 200, 197);
  padding-top: 100px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 20px;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: justify;
}

.OXselect{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: flex-end;
  padding-top: 10px;
  padding-right: 53px;
  margin-top: 10px;
}

.oselect{
  padding-right: 8px;
}