/* modal창 외부화면 */
.Modal {

  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 238.5vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
}

/* modal창 */
.modalBody {
  position: absolute;
  width: 700px;
  height: auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  z-index: 1000;
}

#modalCloseBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: transparent;
  font-size: 20px;
}

#modalCloseBtn:hover {
  cursor: pointer;
}

.survey {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center
}

.survey-top-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  background-color: #4590FF;
}


.survey-title-container {
  background-color: #4590FF;
  width: 100%;
  height: 50px;
  padding-top: 18px;
  text-align: center;
  color: aliceblue;
}

.survey-middle-container {
  height: 800px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px 0 30px 0 ;
}

.surBox-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.survey-bottom-container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.surBox1-container {
  width: 100%;
  margin-right: 20px;
}


.surBox1 {
  width: 80%;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgb(189, 189, 189);
  margin-top: 5px;
}

.sur_category {
  padding-top: 20px;
  padding-bottom: 13px;
  width: 100%;
  height: auto;
  background-color: #1ab0ca;
  color :rgb(255, 255, 255);
  font-weight: 100;
  border-top-left-radius : 9px;
  border-top-right-radius: 9px;
}
.sur_category2{
  padding-top: 20px;
  padding-bottom: 13px;
  width: 100%;
  height: auto;
  background-color: #fc9d21;
  color :rgb(255, 255, 255);
  border-top-left-radius : 9px;
  border-top-right-radius: 9px;
}
.sur_category3{
  padding-top: 20px;
  padding-bottom: 13px;
  width: 100%;
  height: auto;
  background-color: #f34444;
  color :rgb(255, 255, 255);
  border-top-left-radius : 9px;
  border-top-right-radius: 9px;
}
.sur_category4{
  padding-top: 20px;
  padding-bottom: 13px;
  width: 100%;
  height: auto;
  background-color: #a373fc;
  color :rgb(255, 255, 255);
  border-top-left-radius : 9px;
  border-top-right-radius: 9px;
}

.sur_content {
  display: flex;
  justify-content: space-around;
}

.sur_content_detail li {
  display: flex;
  justify-content: left;
  width: 70%;
  text-align: start;
  margin-right: 20px;
  margin-bottom: 10px;
}



.sur_content_detail {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
}

.survey_oBtn{
  margin-right: 10px;
  height: 30px;
  margin-bottom: 10px;
  border-width: 0px; 
  background: none;
}

.survey_oBtn:focus{
  background: #1ab0ca;
}

.survey_xBtn {
  margin-right: 10px;
  height: 30px;
  margin-bottom: 10px;
}

.survey_btncheck {
  display: flex;
  justify-content: center;
  width: 100%;
}

.surBox1 {
  width: "80%";
  height: auto;
  margin-bottom: "15";
  display: flex;
  justify-content: center;
  flex-direction: "column";
  align-items: "center";
  border: "2";
  solid: black;
}



.survey_btnPreResult{
  margin-right: 60px;
}

.survey-result-Table-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.survey-result-Table {
  border-collapse: collapse; /* 테이블 셀 경계를 병합 */
  
}

.survey-result-Table tr,
.survey-result-Table td {
  border: 1px solid black; /* 각 셀에 경계선 스타일 적용 */
  padding : 15px;
  padding-left: 50px;
  padding-right: 50px;
}