$bg: #fff;
$text: #7288a2;
$gray: #4d5974;
$lightgray: #e5e5e5;
$blue: #03b5d2;

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

.tip-content-container{
  display: flex;
  flex-direction: row;
  height: 600px;
  justify-content: center;
}
.tipImg{
  width: 400px;
  margin-top: 15%;
}
.tip {
  padding: 0;
  font-family: 'Hind', sans-serif;
  background: $bg;
  color: $gray;
  display: flex;
  min-height: 100vh;
  width: 65%;
  position: relative;
}

.tipContainer {
  margin: 0 auto;
  padding: 2rem;
  width: 37rem;
  display: flex;
  flex-direction: column;
}
.imgContainer{
  margin: 0 auto;
  padding: 3rem;
  width: auto;
  display: flex;
  flex-direction: column;
}

.accordion {
  .accordion-item {
    border-bottom: 1px solid $lightgray;
    button[aria-expanded='true'] {
      border-bottom: 1px solid $blue;
    }
  }
  button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: $text;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
    height: 60px;
    &:hover, &:focus {
      cursor: pointer;
      color: $blue;
      &::after {
        cursor: pointer;
        color: $blue;
        border: 1px solid $blue;
      }
    }
    .accordion-title {
      padding: 1em 1.5em 1em 0;
    }


    .icon {
      display: inline-block;
      position: absolute;
      top: 18px;
      right: 0;
      width: 22px;
      height: 22px;
      border: 1px solid;
      border-radius: 22px;
      &::before {
        display: block;
        position: absolute;
        content: '';
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
        background: currentColor;
      }
      &::after {
        display: block;
        position: absolute;
        content: '';
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        background: currentColor;
      }
    }
  }
  button[aria-expanded='true'] {
    color: $blue;
    .icon {
      &::after {
        width: 0;
      }
    }
    + .accordion-content {
      opacity: 1;
      max-height: 30em;
      transition: all 200ms linear;
      will-change: opacity, max-height;
    }
  }
  .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
    p {
      font-size: 1rem;
      font-weight: 300;
      margin: 2em 0;
    }
  }
}
@media screen and (max-width: 1250px){
	.tip{
    flex-direction: column;
  }
  .tip-content-container{
    position: relative;
    height: auto;
    justify-content: center;
  }
  .tipImg{
    width: 500px;
    margin-top: 10%;
  }
}
@media screen and (max-width: 910px){
	.tip{
   width: 450px;
    flex-direction: column;
  }

  .tipImg{
    width: 390px;
    margin-top: 10%;
  }
  .tipContainer {
    width: 30rem;
  }
}
@media screen and (max-width: 550px){
	.tip{
   width: 400px;
    flex-direction: column;
  }
  .tip-content-container{
    position: relative;
    height: auto;
    justify-content: center;
  }
  .tipImg{
    width: 280px;
    margin-top: 10%;
  }
  .tipContainer {
    width: 22rem;
  }
}

/*Banner*/
.banner_info{
  position: relative;
  top: 37%;
  left: 60%;
  width: 200px;
}
.banner{
  height: 30vh;
}