<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.sesco.mapper.NoteMapper">


	<!-- 처음 첫번째 아이 수첩 불러오기 -->
	<select id="selectNotes"
		resultType="com.smhrd.sesco.domain.Note">
		SELECT n.*
		FROM t_note n
		JOIN t_kid k ON n.kid_seq = k.kid_seq
		WHERE n.note_d_yn = 'N'
		AND k.user_id = #{userId}
		ORDER BY k.kid_seq ASC
	</select>


	<!-- 아이 옵션 선택 했을 때 특정 아이 수첩 조회 -->
	<select id="selectNotesByKid"
		resultType="com.smhrd.sesco.domain.Note">
		SELECT *
		FROM t_note
		WHERE kid_seq = #{kidSeq} 
		AND note_d_yn = 'N'
	</select>

	<!-- 태그 검색 -->
	<select id="selectNotesByTagAndYear"
		resultType="com.smhrd.sesco.domain.Note">
		SELECT n.*
		FROM t_note n
		JOIN t_diary d ON n.note_seq =
		d.note_seq
		WHERE
		CONCAT('#', d.d_tags, '#') LIKE CONCAT('%#',
		REPLACE(#{tag}, '#',
		''),
		'#%')
		AND YEAR(n.n_s_date) = #{year}
		AND
		n.note_d_yn = 'N'

	</select>

	<!-- 수첩 생성 <insert id="noteInsert" parameterType="com.smhrd.sesco.domain.Note"> 
		INSERT INTO t_note (n_name, n_s_date, n_e_date, kid_seq, note_d_yn) VALUES 
		(#{n_name}, #{n_s_date, jdbcType=DATE, javaType=java.sql.Date}, #{n_e_date, 
		jdbcType=DATE, javaType=java.sql.Date}, #{kid_seq}, 'N') </insert> -->

	<!-- 수첩 수정 <update id="noteUpdate" parameterType="com.smhrd.sesco.domain.Note"> 
		UPDATE t_note SET n_name=#{n_name} WHERE note_seq=#{note_seq} </update> -->

	<!-- 수첩 삭제 <delete id="noteDeleteById" parameterType="String"> DELETE FROM 
		t_note WHERE note_seq= #{note_seq} </delete> -->

</mapper>